# Compiled JavaScript files
*/lib/**/*.js
*/lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# GCP service account key json files
rf-app-dev-7145f-*.json

# Firebase emulators debug log
**/*-debug.log